@use "../../utiles/base-sass/base";
.totalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 98%;
  margin: 0 auto;
}

.totalContainer body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 670px) {
  .totalContainer body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.totalContainer body .filterBar {
  width: 25%;
}

@media only screen and (max-width: 670px) {
  .totalContainer body .filterBar {
    width: 90%;
    margin: 0 auto;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.totalContainer body .productListContainer {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 670px) {
  .totalContainer body .productListContainer {
    width: 100%;
  }
}

.totalContainer body .productListContainer .poductContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-secondary);
  margin: 20px 20px;
  border-radius: 10px;
  width: 280px;
  height: 380px;
  overflow: hidden;
  font-size: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media only screen and (max-width: 870px) {
  .totalContainer body .productListContainer .poductContainer {
    width: 210px;
    height: 300px;
    margin: 10px 5px;
  }
}

.totalContainer body .productListContainer .poductContainer:hover {
  -webkit-box-shadow: 0 0 15px 8px var(--color-grey);
          box-shadow: 0 0 15px 8px var(--color-grey);
}

.totalContainer body .productListContainer .poductContainer .productImg {
  width: 100%;
  height: 270px;
}

@media only screen and (max-width: 870px) {
  .totalContainer body .productListContainer .poductContainer .productImg {
    height: 200px;
  }
}

.totalContainer body .productListContainer .poductContainer .productDescribtion {
  color: var(--color-font);
  font-size: 20px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.totalContainer body .productListContainer .poductContainer .btn {
  font-size: 17px;
  outline: none;
  border: none;
  padding: 10px 15px;
  background-color: var(--color-primary);
  color: var(--color-white);
  letter-spacing: 1px;
}

.totalContainer body .productListContainer .poductContainer .btn .linkToCart {
  color: var(--color-white);
}
/*# sourceMappingURL=homePage.module.css.map */