.container {
  background-color: white;
  border: 1px solid #975cca;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  height: 80vh;
  min-height: 550px;
  flex-direction: column;
  align-items: center;
}
.signupBtn {
  width: 100%;
  margin-top: 30px;
  height: 35px;
  background-color: #7e22ce;
  border: 1px solid #7e22ce;
  border-radius: 5px;
  color: white;
  outline: none;
}
.error {
  color: red;
  margin-top: 10px;
}
