@use "../../utiles/base-sass/base";
@import "../../utiles/base-sass/base";
.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: baseline;
  justify-content: space-between;
  margin: 2px 0;

  input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    outline: none;
    @include whenDark {
      border: 10px solid var(--color-grey);
    }
    &:focus {
      border: 2px solid var(--color-primary);
    }
  }
  label {
    display: block;
    font-size: 19px;
    margin-right: 10px;
  }
}
// .container input {
//   width: 100%;
//   height: 30px;
//   padding: 5px 10px;
//   border: 1px solid rgb(168, 168, 168);
//   border-radius: 5px;
//   outline: none;
// }
// .container input:focus {
//   border: 2px solid #7e22ce;
// }
// .container label {
//   display: block;
//   font-size: 19px;
//   margin-right: 10px;
// }
.error {
  color: red;
  text-align: center;
}
