@use "../../utiles/base-sass/base";

.container {
  width: 100%;
  border-radius: 8px;
  margin-top: 20px;

  .PriceFliter {
    background-color: var(--color-tertiary);
    color: var(--color-font);
    border: 2px solid var(--color-grey);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 15px;
    }
  }
  .nameFliter {
    background-color: var(--color-tertiary);
    color: var(--color-font);
    border: 2px solid var(--color-grey);
    border-radius: 8px;
    text-align: center;

    div:nth-child(1) {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 15px;
    }
  }
}
