@use "../../utiles/base-sass/base";
.container {
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-primary);
  color: var(--color-font);
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  height: 60vh;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
}
.loginBtn {
  width: 100%;
  margin-top: 30px;
  height: 35px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  color: var(--color-white);
  outline: none;
}
.error {
  color: red;
}
