.container {
  display: "flex";
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  section {
    width: 100%;
    display: flex;
    justify-content: center;

    div {
      display: block;
      width: 95%;
      text-align: center;
    }
  }

  > div {
    margin-bottom: 5px;
    span {
      background-color: var(--color-primary);
      color: var(--color-tertiary);
      letter-spacing: 2px;
      padding: 5px 9px;
      border-radius: 5px;
    }
  }
}
