@use "../../utiles/base-sass/base";
.container {
  width: 25%;
  margin: 0 auto;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-secondary);
  color: var(--color-font);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr {
    width: 90%;
    margin: 10px 0;
  }

  @media only screen and(max-width:700px) {
    width: 98%;
  }
}
.btn {
  margin-top: 20px;
  font-size: 15px;
  width: 90%;
  height: 40px;
  border: none;
  background-color: var(--color-primary);
  border-radius: 5px;
  a {
    color: var(--color-white);
  }
}
